/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
	background: #000;
	margin-top: 5px;
}

h1, h2, h3, h4, h5, p {
	font-family: "Cabin", sans-serif;
	text-transform: uppercase;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #999;
}

#main {
	background: #FFF;
	width: 100%;
}

#header {
	margin-top: 20px;
	height: 122px;
	text-align: center;
}

#content {
	margin-bottom: 17px;
}

#video {
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
}

#info, #footer {
	color: #FFF;
}

#info .columns {
	text-align: center;
	height: 90px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#connect {
	border-right: 2px solid #333;
}

#connect ul.social li {
	display: inline-block;
	margin: 10px;
}

#connect ul.social li a {
	background-color: #FFF;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	height: 44px;
	width: 44px;
	border-radius: 22px;
}

#connect ul.social li a:hover {
	background-color: #999;
}

#connect ul.social li a.vimeo {background-image:url("../images/vimeo_icon.png");}
#connect ul.social li a.facebook {background-image:url("../images/facebook_icon.png");}
#connect ul.social li a.twitter {background-image:url("../images/twitter_icon.png");}
#connect ul.social li a.instagram {background-image:url("../images/instagram_icon.png");}
#connect ul.social li a.tumblr {background-image:url("../images/tumblr_icon.png");}

#connect ul.social li a span {
	display: none;
}

#contact {
	border-left: 2px solid #333;
}

#info h3 {
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	line-height: 20px;
	margin-top: -10px;
}

#footer {
	border-top: 4px solid #333;
	height: 30px;
}

#legal, #links {
	height: 22px;
	line-height: 22px;
}

#legal {
	background: url("../images/footer_fork.png") 0 0 no-repeat;
	padding-left: 22px;
	margin-right: -22px;
	text-align: left;
}

#links {
	text-align: right;
}

#links li {
	display: inline-block;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#info .columns {
			border: none;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#connect ul.social li a {
			height: 36px;
			width: 36px;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/